{% extends 'base.html' %}
{% block title %}Hacker Brunch{% endblock %}
{% block content %}

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Hacker Brunch</h1>
                        <h3>Curated brunch reservations in San Francisco</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/restaurant_list" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span><span class="network-name">  Restaurants</span></a>
                            </li>
                            <li>
                                <a href="/reservations" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-time" aria-hidden="true"></span><span class="network-name">  Reservations</span></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

{% endblock %}