{% extends 'base.html' %}
{% block title %}Hacker Brunch{% endblock %}

{% block content %}


<div class="container">

<!-- Filters for table -->
<div class='row'>
  <table id='filter-table' class="table">
    <thead>
      <tr>
        <th><button id='filter-button' type="button" class="btn btn-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></button></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr id='filter-row' style='display:none;'>
        <td>Filter by Date
          <select id="myDate" class="form-control" onchange="myFilter()">
            <option></option>
            {% for date in dates %}
            <option>{{ date[0].strftime('%b %-d, %a') }}</option>
            {% endfor %}
          </select>
        </td>
        <td>Filter by Name<input id="myResto" type="text" class="form-control" onkeyup="myFilter()"></td>
      </tr>
    </tbody>
  </table><br>
</div>

<!-- Row for tabs and table -->
<div class='row'>
  <ul class="nav nav-tabs">
    <li class="active" id='myNum' onclick="clearNumVar(); myFilter();"><a href="#home">All Tables</a></li>
    <li id='myNum' onclick="setNumVar(2); myFilter();"><a href="#tablesfor2">Tables for 2</a></li>
    <li id='myNum' onclick="setNumVar(4); myFilter();"><a href="#tablesfor4">Tables for 4</a></li>
    <li id='myNum' onclick="setNumVar(6); myFilter();"><a href="#tablesfor6">Tables for 6</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active"></div>
    <div id="myNum" class="tab-pane fade"></div>
  </div>

<!-- Table with reservation data -->
<table class="table table-striped myTable">
<thead>
  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>People</th>
    <th>Available Reservation Times</th>
</thead>

<tbody>
  {% for reservation in reservations %}
  <tr class='reservation-entry'>
    <td>{{ reservation.date.strftime('%b %-d, %a') }}</td>
    <td><a href='https://www.yelp.com/biz/{{ reservation.opentable.restaurants[0].yelp_details[0].yelp_id }}' target='_blank'>{{ reservation.opentable.name }}</a></td>
    <td>{{ reservation.people }}</td>
    <td>
    <!-- clean up time string for looping over -->
    {% set timeline = reservation.time|replace('{','') %}
    {% set timeline = timeline|replace('}','') %}
    {% set timeline = timeline.split(',') %}
    {% for time in timeline %}
      <!-- make unique opentable URL depending on available time -->
      {% if (time[0:1] == '9') %}
      <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%200{{ time }}:00%20AM&p={{ reservation.people }}' target='_blank'
      <button type="button" class="btn btn-primary btn-xs">{{ time }} AM</button></a>
      {% elif (time[0:2] == '10') or (time[0:2] == '11') %}
      <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%20{{ time }}:00%20AM&p={{ reservation.people }}' target='_blank'
      <button type="button" class="btn btn-primary btn-xs">{{ time }} AM</button></a>
      {% elif (time[0:2] == '12') %}
      <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%20{{ time }}:00%20PM&p={{ reservation.people }}' target='_blank'
      <button type="button" class="btn btn-primary btn-xs">{{ time }} PM</button></a>
      {% else %}
      <a href='http://opentable.com/opentables.aspx?t=rest&r={{ reservation.opentable_id }}&d={{ reservation.date.strftime('%m/%d/%Y') }}%200{{ time }}:00%20PM&p={{ reservation.people }}' target='_blank'
      <button type="button" class="btn btn-primary btn-xs">{{ time }} PM</button></a>
      {% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
</tbody>

</table>
</div>
</div>


<!-- Google Map -->
<div class="container" style="height: 80%">
  <button id='populate_map' type="button" class="btn btn-info btn-sm">AVAILABLE RESERVATIONS</button>
  <button id='reset_map' type="button" class="btn btn-info btn-sm">RESET MAP</button>
  <div id="homepage-map" style="height: 80%"></div>
</div>

<script type="text/javascript">

'use strict';

// event listener to pass values to modal
$('#notify').on('show.bs.modal', function(evt) {
    var $modal = $(this), data = evt.relatedTarget.id;
    var data_array = data.split(" "); 
    var people = data_array.shift();
    var opentable = data_array.shift();
    var date = data_array.shift();
    var restaurant = data_array.join(" ");
    // pass values to modal for display
    $modal.find('.data-restaurant').html(restaurant);
    $modal.find('.data-date').html(date);
    $modal.find('.data-people').html(people);
    // pass values to hidden fields for form submission
    $('#form-opentable').val(opentable);
    $('#form-date').val(date);
    $('#form-people').val(people);
});

// Listener for tabs
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});

// Set myNum based on clicked tab
var myNum = ""
function clearNumVar(){
	myNum = "";
	console.log(myNum);
}
function setNumVar(num){
	myNum = num;
	console.log(myNum);
}

$('#filter-button').click(function() {
	$('#filter-row').toggle();
});

// Show rows that meet filters
function myFilter(){
  var input1, input2, input3, tr, td1, td2, td3, i;
  input1 = $("#myDate").val();
  input2 = $("#myResto").val().toUpperCase();
  input3 = myNum;
  tr = $(".reservation-entry");
  for (i = 0; i < tr.length; i++) {
    td1 = tr[i].getElementsByTagName("td")[0];
    td2 = tr[i].getElementsByTagName("td")[1];
    td3 = tr[i].getElementsByTagName("td")[2];
    if ((td1.innerHTML.indexOf(input1) > -1) 
      && (td2.innerHTML.toUpperCase().indexOf(input2) > -1)
      && (td3.innerHTML.indexOf(input3) > -1)) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
    }
  }
}


// Global variables for Google Maps
var map;
var sanFrancisco = {lat: 37.7749, lng: -122.431297}; 
var markersArray = [];

// Create map upon page load
function initMap() {
  map = new google.maps.Map(document.getElementById('homepage-map'), {
    center: sanFrancisco,
    zoom: 13
  });
}

// Add markers on map
function addMarker(lat, lng, content, map) {
    var marker = new google.maps.Marker({
      position: {lat: lat, lng: lng},
      map: map
    });

    var infowindow = new google.maps.InfoWindow({
      content: content
    });

    // Add marker to Array to be used by clearOverlays
    markersArray.push(marker);

    // Show infowinder on hover over
    marker.addListener('mouseover', function() {
    infowindow.open(map, this);
    });

    // Hide infowindow on mouse out
    marker.addListener('mouseout', function() {
        infowindow.close();
    });
}

// Clear all markers on map
function clearOverlays() {
  for (var i = 0; i < markersArray.length; i++ ) {
    markersArray[i].setMap(null);
  }
  markersArray.length = 0;
}


// Create markers based on AJAX response
function createMarkers(results) {
  var marker_details = JSON.parse(results);
  for (var i = 1; i < ((Object.keys(marker_details).length) + 1); i++) { 
      addMarker(marker_details[i].lat, marker_details[i].lng, marker_details[i].name, map);
    }
}

// Center map to SF
function centerMap(){
    var center = new google.maps.LatLng(37.7749, -122.431297);
    map.panTo(center);
    map.setZoom(13);
}

// Get JSON file of resto markers based on selected filters
function getRestoMarkers() {
  var queryInputs = {
    "date": $("#myDate").val(),
    "resto": $("#myResto").val(),
    "people": myNum,
  };
  $.post('/resto_markers', queryInputs, createMarkers);
  console.log(queryInputs);
  console.log('Finished sending AJAX');
}

// Event listeners for buttons above map
$('#populate_map').click(getRestoMarkers);
$('#reset_map').click(clearOverlays);
$('#reset_map').click(centerMap);


</script>

<script src="https://maps.googleapis.com/maps/api/js?key={{ gkey }}&callback=initMap"
async defer></script>

{% endblock %}



