{% extends 'base.html' %}
{% block title %}Hacker Brunch - Restaurant List{% endblock %}
{% block content %}

<div class="container">

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th><a href="http://www.yelp.com/" target="_blank"><img src='/static/yelp_button.png' style='height: 30px'></a></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>     
      </tr>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Neighborhood</th>
        <th>Cuisine</th>     
      </tr>
    </thead>
    <tbody>
      
      {% for restaurant in restaurants %}  
      <tr>
        <td><img src='{{ restaurant.yelp_details[0].image_url }}' alt='{{ restaurant.name }}'><br></td>
        <td><a href='https://www.yelp.com/biz/{{ restaurant.yelp_details[0].yelp_id }}' target='_blank'><b>{{ restaurant.name }}</b></a></td>
        <td>{{ restaurant.yelp_details[0].neighborhoods }}</td>
        <td>{{ restaurant.yelp_details[0].categories }}</td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
</div>

</div>


{% endblock %}

